=javascript_pack_tag 'filters'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: hands_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =position_filter   params[:position]
      =bet_size_filter   params[:bet_size]
      =table_size_filter params[:table_size]
      =stake_filter      params[:stake]
      =date_filter       params[:from], params[:to]
      .form-check.form-check-inline
        =advanced_filters  params[:flop], params[:turn], params[:river], params[:showdown], params[:all_in]
  %div{style: 'margin-top: 20px;'}
  -Hand.cached.each_slice(13) do |slice|
    .row
      -slice.each do |id, hand|
        =render partial: 'shared/data_card', locals: { obj_name: hand,
          search_params: { hand: id,
            bet_size:   params[:bet_size],
            position:   params[:position],
            stake:      params[:stake],
            table_size: params[:table_size] } }
