=javascript_pack_tag 'filters'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: table_sizes_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =hand_filter     params[:hand]
      =position_filter params[:position]
      =bet_size_filter params[:bet_size]
      =stake_filter    params[:stake]
      =date_filter     params[:from], params[:to]
      .form-check.form-check-inline
        =advanced_filters params[:flop], params[:turn], params[:river], params[:showdown], params[:all_in]
  %div{style: 'margin-top: 20px;'}
  .row
    -TableSize.cached.each do |id, table_size|
      =render partial: 'shared/data_card', locals: { obj_name: table_size,
        search_params: { table_size: id,
          bet_size:   params[:bet_size],
          hand:       params[:hand],
          position:   params[:position],
          stake:      params[:stake] }}
