.hidden#bet-sizes{'data-bet-sizes':     BetSize.cached.map { |id, desc| { value: id, label: desc } }.to_json }
.hidden#hands{'data-hands':             Hand.cached.map { |id, hand| { value: id, label: hand } }.to_json }
.hidden#positions{'data-positions':     Position.cached.map { |id, position| { value: id, label: position } }.to_json }
.hidden#stakes{'data-stakes':           Stake.cached.map { |id, stake| { value: id, label: stake } }.to_json }
.hidden#table-sizes{'data-table-sizes': TableSize.cached.map { |id, desc| { value: id, label: desc } }.to_json }
%table.table.table-bordered#hh-datatable{style: 'font-size:12px;width:100%;', 'data-source': "#{hand_histories_path(@params)}.json"}
  %thead
    %th
    %th Date
    %th Result
    %th Hand
    %th Position
    %th Bet Size
    %th Table Size
    %th Stakes
    %th Flop
    %th Turn
    %th River
    %th Showdown?
    %th All In?
    %th HH
  %tbody
