=javascript_pack_tag 'filters'

.container-fluid
  .row
    %table.table.table-bordered
      %thead
        %th Year
        %th Session Result (Actual $)
        %th VPIP Result
      %tbody
        -@results_by_date.yearly_results.each do |year, result_h|
          %tr
            %td= year.strftime('%Y')
            %td{class: bg_color_by_result(result_h[:session])}
              =result_h[:session]
            %td{class: bg_color_by_result(result_h[:vpip])}
              =result_h[:vpip]
.container-fluid
  .row
    %table.table.table-bordered
      %thead
        %th Month
        %th Session Result (Actual $)
        %th VPIP Result
      %tbody
        -@results_by_date.monthly_results.each do |month, result_h|
          %tr
            %td= month.strftime('%B %Y')
            %td{class: bg_color_by_result(result_h[:session])}
              =result_h[:session]
            %td{class: bg_color_by_result(result_h[:vpip])}
              =result_h[:vpip]
