=month_calendar(events: @ps_records) do |date, poker_sessions|
  - valid_sessions = @ps_records.where(start_time: (date.in_time_zone(ActiveSupport::TimeZone[Time.zone.name]))..((date+1.day).in_time_zone(ActiveSupport::TimeZone[Time.zone.name])))
  - results = PokerSession.results(:all, valid_sessions)
  - e_time = PokerSession.duration(:all, valid_sessions)
  - hourly = PokerSession.hourly(valid_sessions)

  %div{class: bg_color_by_result(results)}
    %h2.text-right.font-weight-bold
      = date.day
    - if valid_sessions.blank?
      %div No Data
      %br
      %br
    -else
      %div
        ="$#{results}"
      %div
        =e_time.to_elapsed_time
      %div
        ="$#{hourly}/hr"
