%a#upload-session.fa.fa-upload
%table.table.table-bordered#ps-datatable{style: 'font-size:12px;width:100%;', 'data-source': "#{poker_sessions_path}.json"}
  %thead
    %th Start Time
    %th End Time
    %th Duration
    %th Game Type
    %th Buyin
    %th Cashout
    %th Result
    %th Hands Dealt
    %th Hands Played
    %th Saw Flop
    %th WTSD
    %th W$SD
    %th VPIP
  %tbody
