%table.table.table-bordered
  =render partial: 'stats_table_global'
  =render partial: 'stats_table_daily'
  =render partial: 'stats_table_weekly'
  =render partial: 'stats_table_monthly'
  =render partial: 'stats_table_yearly'
