=javascript_pack_tag 'poker_sessions'

.container-fluid 
  .row
    .col-9
      =render partial: 'calendar'
    .col-3
      =render partial: 'charts'
.container-fluid
  =render partial: 'poker_sessions'
.container-fluid
  =render partial: 'stats_table'
