<select name="bet_size[]" id="bet-size-select" class="form-control" data-placeholder="Filter By Bet Size" multiple="multiple"><option selected="selected" value=""></option>
<%= options %></select><button name="button" type="button" id="reset-bet-size" class="form-control form-control-sm filter-button">x</button>
