<select name="position[]" id="position-select" class="form-control" data-placeholder="Filter By Position" multiple="multiple"><option selected="selected" value=""></option>
<%= options %></select><button name="button" type="button" id="reset-position" class="form-control form-control-sm filter-button">x</button>
