<select name="stake[]" id="stake-select" class="form-control" data-placeholder="Filter By Stake" multiple="multiple"><option selected="selected" value=""></option>
<%= options %></select><button name="button" type="button" id="reset-stake" class="form-control form-control-sm filter-button">x</button>
