<select name="table_size[]" id="table-size-select" class="form-control" data-placeholder="Filter By Table Size" multiple="multiple"><option selected="selected" value=""></option>
<%= options %></select><button name="button" type="button" id="reset-table-size" class="form-control form-control-sm filter-button">x</button>
