=javascript_pack_tag 'hands'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: hands_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =position_filter @positions, params[:position]
      =bet_size_filter @bet_sizes, params[:bet_size]
      =table_size_filter @table_sizes, params[:table_size]
      =stake_filter @stakes, params[:stake]
      =date_filter params[:from], params[:to]
  %div{style: 'margin-top: 20px;'}
  -Hand::HAND_ORDER.each do |ho_row|
    .row
      -ho_row.each do |hand_name|
        =render partial: 'shared/data_card', locals: { obj_name: hand_name, search_params: { hand: hand_name,
          position: @positions.find { |p| p.id.to_s == params[:position] }.try(:position),
          bet_size: @bet_sizes.find { |b| b.id.to_s == params[:bet_size] }.try(:description),
          table_size: @table_sizes.find { |t| t.id.to_s == params[:table_size] }.try(:description) } }
