=javascript_pack_tag 'filters'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: table_sizes_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =hand_filter @hands, params[:hand]
      =position_filter @positions, params[:position]
      =bet_size_filter @bet_sizes, params[:bet_size]
      =stake_filter @stakes, params[:stake]
      =date_filter params[:from], params[:to]
      .form-check.form-check-inline
        =advanced_filters params[:flop], params[:turn], params[:river], params[:showdown], params[:all_in]
  %div{style: 'margin-top: 20px;'}
  .row
    -TableSize::TABLE_SIZE_ORDER.each do |ts_desc|
      =render partial: 'shared/data_card', locals: { obj_name: ts_desc, search_params: { table_size: ts_desc } }
