=javascript_pack_tag 'bet_sizes'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: bet_sizes_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =hand_filter @hands, params[:hand]
      =position_filter @positions, params[:position]
      =table_size_filter @table_sizes, params[:table_size]
      =stake_filter @stakes, params[:stake]
      =date_filter params[:from], params[:to]
  %div{style: 'margin-top: 20px;'}
  .row
    -BetSize::BET_SIZE_ORDER.each do |bs_desc|
      =render partial: 'shared/data_card', locals: { obj_name: bs_desc, search_params: { bet_size: bs_desc } }
