%table.table.table-bordered
  %thead
    %tr
      %th Number of Hands
      %th Total Result
      %th % Won
      %th $/hand
      %th STDDEV
  %tbody
    %tr#stats-table
      %td#hand-count
      %td#hand-sum
      %td#hand-pct
      %td#hand-avg
      %td#hand-stddev
