=javascript_pack_tag 'filters'

%div{style: 'margin-top: 20px;'}
.container-fluid
  .row
    =form_with(url: by_date_path, local: true, html: {id: 'filter-form', class: 'form-inline'}) do |f|
      =hand_filter @hands, params[:hand]
      =position_filter @positions, params[:position]
      =bet_size_filter @bet_sizes, params[:bet_size]
      =table_size_filter @table_sizes, params[:table_size]
      =stake_filter @stakes, params[:stake]
      .form-check.form-check-inline
        =advanced_filters params[:flop], params[:turn], params[:river], params[:showdown], params[:all_in]
.container-fluid
  .row
    %table.table.table-bordered
      %thead
        %th Month
        %th Result
      %tbody
        -@results_by_month.each do |month, result|
          %tr{class: bg_color_by_result(result)}
            %td= month.strftime('%B %Y')
            %td= result
